.l-contents{
	width: 100%;
	height: auto;
	&.-img{// 背景画像のみ
		width: 100%;
		height: auto;
	}
	&.-img-bg{// 背景画像＋コンテンツ
		position: relative;
		.imgBox{// 背景画像
			width: 100%;
			height: auto;
			&.-parallax{//パラドックス背景の場合、ここは透明画像
				justify-content: center;
				align-items: center;

				background-attachment: fixed;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				&.-parallax_bg{//ここに背景を指定する。
					background-image: url(../images/bg/header_bg_s.jpg);
					@include mq(tb){
						background-image: url(../images/bg/header_bg.jpg);
					}
				}
			}
		}
		.l-contentsBox{// コンテンツ要素
			width: 100%;
			position: absolute;
			&.-logo{
				width: 60%;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				animation: fadein-logo 1s forwards;
				@include mq(tb){
					width: 30%;
				}
			}
			&.-text{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&.-bottomBtn{
				bottom: 9%;
				left: 50%;
				transform: translateX(-50%);
				width: 50%;
				@include mq(tb){
					bottom: 15%;
					width: 30%;
				}
			}
			.l-contentsBox--wrapper{
				width: 100%;
				height: auto;
				@include mq(tb){
					width: 100%;
					max-width: 1315px;
					margin: auto;

				}
			}
		}
	}
	// 基本的にSliderは、「Slick or Swiper」を使用すること
	// 場所：「Scss/introduction内」
	&.-slider{
		//下記スマホ以上
		@include mq(tb){
		}
	}
	&.kodawariArea{
		position: relative;
		height: 10vh;
		@include mq(tb){
			height: 15vh;
		}
		.kodawari-text{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 60%;
			@include mq(tb){
				width: 35%;
			}
		}
	}
	.arrow_btm{
		position: absolute;
		top: 150%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 15%;
		@include mq(tb){
			width: 5%;
		}
	}
}

